app.name=Drcom

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

# this property specifies a comma separated list of paths containing
# resources to copy to the build directory
app.resource.paths=

workspace.temp.dir=${app.dir}/../temp/${app.name}/
workspace.build.dir=${app.dir}/../build/${app.name}/

app.build.dir=${workspace.build.dir}


app.framework.version=2.3.0
app.cmd.version=4.0.4.84
