body {
	font-family: 'ROBOTO-LIGHT';
	/*font-family: 'ROBOTO-BK';*/
}

/*REVEAL MENU*/
.menu {
	background-color:#666057;
}
.menubutton{
	background-color: #6f685f;
	border-radius: 0px; 
	border: none;
}
.menubutton .x-button-label{
	text-align:left;
	/*font-family: 'ROBOTO-LIGHT';*/
	margin-left: 10px;
}
.x-menu {
	padding: 5px;
}
.x-menu .x-button{
	margin-bottom: 2px;	
}
/*BADGE TEXT*/
.x-hasbadge .x-badge {
	background-color: #ff8d0c;
	top: -3px;
	right: -3px;
	min-height: 20px;
	min-width: 20px;
	line-height: 20px;
	font-size: 12px;
	/*font-family: 'ROBOTO-LIGHT';*/
	padding: 0;
	font-weight: normal;
}

/*NAV BUTTONS*/
.app-nav-back-icon {
	background-image: url('../images/back_icon_top.png');
	background-size: cover;
}
/*LOADING*/
.x-mask.x-has-message .x-loading-spinner-outer {
	height: 60px;
}
.x-mask .x-mask-inner .x-mask-message {
	color: #979797;
	bottom: 14px;
	/*font-family: 'ROBOTO-LIGHT';*/
	font-size: 12px;
}
/*segmentbutton font size*/
.segmentedbutton_tabbar .x-button .x-button-label {
	font-size: 14px;
}
/*button round border*/
.x-button {
	border-radius: 5px;
}
.x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}
/*
.x-input-el {	
	background: none;
	background-color: #ebebeb;
	margin-left: 8px;
	text-align: left;
	border-radius: 5px;
	color: #6f685e;
}

.x-field-input .x-clear-icon {
	background-size: 70% 70%;
	margin: 0;
	margin-top: -1.1em;
}
*/
.input_center .x-input-el {
	text-align: center;
	/*font-family: 'ROBOTO-LIGHT';*/
}

/*FORM*/
.x-form-label {
	padding-right: 7.6em;
	font-family: 'ROBOTO-LIGHT';
	font-size: 14px;
}

.x-form-fieldset-title {
	font-size: 1.2em;
	font-family: 'ROBOTO-LIGHT';
}

/*ICONS*/
.tabbar-icon-home {
	background-image: url('../images/icon/home.png');
	background-size: 28px;
  background-repeat: no-repeat;
}

.toolbar-icon-menu {
  background-image: url('../images/menu_icon.png');
  background-size: cover;
}

.toolbar-icon-add {
  background-image: url('../images/add_icon.png');
  background-size: cover;
}


.button-rectangle {
	background-image: url('../images/button_bg.png');	
}

.button-icon {
	background-color: transparent;
	border: 0;
}

.button-icon-addnew {
  background-image: url('../images/btn/addnew.png');
  background-size: cover;
}

.button-submit {
  background-color:#f27935;
  color: #FFFFFF;
  border: 0px;
  height: 45px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'ROBOTO-LIGHT';
}
.button-cancel {
 background-color:#666057;/*ebebeb*/
color: #FFFFFF;
  border: 0px;
  height: 45px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'ROBOTO-LIGHT';
}

