.atm-cash-container {
	/*background-color: #999;*/
	
}

.atm-title-container {
	/*height: 40px;*/
	 background-color: #666; 
	color: #FFF;
	border-radius: 6px;
	margin-bottom: 1px;
	/*border: 1px solid #ccc;*/
	/* border: 2px solid; */
	/*font-weight: bold;*/
}

.atm-title-container.cash  {
	/*background-color: #666;*/
	margin-bottom: 0px;
}

.atm-title-item {
	margin-left: 10px;
	/*font-size: 18px;*/
}

.atm-title-item-icon {
	width: 34px;
	height: 34px;
	margin-left: 10px;	
}

.atm-tienmat-amount {
	/*margin-right: 10px;*/
	/*font-weight: bold;*/
	font-size: 17px;
	margin-left: 10px;
	font-family: 'ROBOTO-BOLD';
	/*color: #0099CC;*/
}
.atm-container {
	margin-left: 2px;
	margin-right: 2px;
	/*height:auto !important;*/
}
.atm-segment-container {
	
}
.atm-segment-item-container {
	/*margin: 5px;*/
}
/*list*/

/*AtmList*/
.x-list .x-list-item-tpl .x-list-disclosure {
	position: absolute;
	right: 7px;
}
.x-list .x-list-disclosure:before {
	font-size: 16px;
	width: 35px;
	height: 40px;
}
.atm-atmlist .x-list-item-tpl .x-list-disclosure {
	top: 32px;
}

.atm-atmlist.expenseday .x-list-item-tpl .x-list-disclosure {
	top: 18px;
}


.atm-atmlist .info, .atm-atmlist .amountinfo {
	white-space: nowrap;
	margin-right: 20px;
	overflow: hidden;
	/*float: left;
	margin-bottom: 8px;*/
}

.atm-atmlist .info .usernameinfo .usernameicon, 
.atm-atmlist .info .usernameinfo .shoppingicon,
.atm-atmlist .info .usernameinfo .dateicon,
.atm-atmlist .info .usernameinfo .amounticon,
.atm-atmlist .info .usernameinfo .username {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmlist .info .usernameinfo .usernameicon {
	background: url('../images/coloricons/user-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.atm-atmlist .info .usernameinfo .dateicon {
	background: url('../images/coloricons/Apps-date-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmlist .info .usernameinfo .amounticon {
	background: url('../images/coloricons/dollar-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmlist .info .usernameinfo .amounticon.chi,
.atm-atmlist .info .usernameinfo .amounticon.cash.chi,
.atm-atmlist .info .usernameinfo .amounticon.cash.nap  {
	background: url('../images/coloricons/dollar-icon-minus.png') no-repeat 0px 0px;
    background-size: contain;
}
.atm-atmlist .info .usernameinfo .amounticon.thu,
.atm-atmlist .info .usernameinfo .amounticon.cash.thu,
.atm-atmlist .info .usernameinfo .amounticon.cash.rut,
.atm-atmlist .info .usernameinfo .amounticon.cash.linh_lai {
	background: url('../images/coloricons/dollar-icon-plus.png') no-repeat 0px 0px;
	background-size: contain;
} 



.atm-atmlist .info .usernameinfo .shoppingicon {
	background: url('../images/coloricons/shopping-cart-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.atm-atmlist .info .usernameinfo .shoppingicon.atm {
	background: url('../images/coloricons/Credit-Card-icon.png') no-repeat 0px 0px;
	background-size: contain;
}

.atm-atmlist .info .usernameinfo .shoppingicon.saving {
	background: url('../images/coloricons/dollar-folder-icon.png') no-repeat 0px 0px;
	background-size: contain;
}



.atm-atmlist .info .bankinfo .bankicon, 
.atm-atmlist .info .bankinfo .bank {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmlist .info .bankinfo .bankicon {
	background: url('../images/coloricons/bank-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.atm-atmlist .amountinfo {
	/*float: right;
	margin-right: 20px;
	margin-top: 11px;*/
}

.atm-atmlist .amountinfo .amounticon, 
.atm-atmlist .amountinfo .amount {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmlist .amountinfo .amounticon {
	background: url('../images/coloricons/dollar-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/**/
.atm-savinglist .info {
	float: left;
	margin-bottom: 8px;
}

.atm-savinglist .amount {
	float: right;
	margin-right: 30px;
}

/*atmadd*/
.atm-form-container {
	margin: 5px 5px;
}

/*AtmHistoryList*/
.atm-atmhistory {
	
}
.atm-atmhistory .info .dateinfo. .atm-atmhistory .amountinfo, .atm-atmhistory .actioninfo  {
	white-space: nowrap;
}

.atm-atmhistory .info .dateinfo .dateicon, 
.atm-atmhistory .info .dateinfo .datetime {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmhistory .info .dateinfo .dateicon {
	background: url('../images/coloricons/Apps-date-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmhistory .moneycardinfo .moneycardicon, 
.atm-atmhistory .moneycardinfo .moneycard {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmhistory .moneycardinfo .moneycardicon {
	background: url('../images/coloricons/dollar-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmhistory .amountinfo .amounticon, 
.atm-atmhistory .amountinfo .amount {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmhistory .amountinfo .amounticon {
	background: url('../images/coloricons/dollar-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmhistory .amountinfo .amounticon.nhan_luong, .atm-atmhistory .amountinfo .amounticon.nap_tien, 
.atm-atmhistory .amountinfo .amounticon.tao_moi {
	background: url('../images/coloricons/dollar-icon-plus.png') no-repeat 0px 0px;
    background-size: contain;
}

.atm-atmhistory .amountinfo .amounticon.rut_tien, .atm-atmhistory .amountinfo .amounticon.chuyen_khoan {
	background: url('../images/coloricons/dollar-icon-minus.png') no-repeat 0px 0px;
	 background-size: contain;
}

.atm-atmhistory .amountinfo .amounticon.linh_lai {
	background: url('../images/coloricons/money-wallet-plus-icon.png') no-repeat 0px 0px;
    background-size: contain;
}

.atm-atmhistory .amountinfo .amount.nap_tien, .atm-atmhistory .amountinfo .amount.tao_moi,
.atm-atmhistory .amountinfo .amount.nhan_luong, .atm-atmhistory .amountinfo .amount.linh_lai
 {
	color: #71b700;
}
.atm-atmhistory .amountinfo .amount.rut_tien, .atm-atmhistory .amountinfo .amount.chuyen_khoan {
	color: red;
}

.atm-atmhistory .actioninfo .actionicon, 
.atm-atmhistory .actioninfo .description {
	display: inline-block;
	vertical-align:middle;
}
.atm-atmhistory .actioninfo .actionicon {
	background: url('../images/coloricons/atm-money-icon.png') no-repeat 0px 0px;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.atm-atmhistory .actioninfo .actionicon.tao_moi {
	background: url('../images/coloricons/Credit-card-icon (1).png') no-repeat 0px 0px;
	 background-size: contain;
}
/*
.atm-atmhistory .actioninfo .actionicon.nhan_luong, .atm-atmhistory .actioninfo .actionicon.nap_tien {
	background: url('../images/coloricons/money-add-icon.png') no-repeat 0px 0px;
    background-size: contain;
}

.atm-atmhistory .actioninfo .actionicon.rut_tien, .atm-atmhistory .actioninfo .actionicon.chuyen_khoan {
	background: url('../images/coloricons/money-delete-icon.png') no-repeat 0px 0px;
	 background-size: contain;
}

.atm-atmhistory .actioninfo .actionicon.sua_thong_tin {
	background: url('../images/coloricons/Paper-Money-icon.png') no-repeat 0px 0px;
	 background-size: contain;
}
*/
/**/

